
.button-apps {
  border: solid black 1px;
  width: 15%;
  height: 80px;
  margin: 0.3%;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  font-size: 160%;
  font-weight: bold;
}
.button-apps a{
  color:black;
  text-decoration:none ;
}
.button-container {
  display: flex;
  flex-wrap: wrap;
  padding:.2%;
  justify-content: flex-start;
  align-items: center;
}


.tablehead{
border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color:rgba(128, 128, 128, 0.562);
  padding: 5px;
  font-size: 15px;
}

.table-item, .table-item-red , .button-small{
  background-color:rgba(128, 128, 128, 0.191);
text-align: center;
font-size:110%;
font-weight:500;
padding: 10px;
}


.button-small{
  font-family: 'Balsamiq Sans', cursive;

  border:none;
  font-size:25px;
 padding:10px;
}