.card-container-M {
  width: 20vw;
  padding: 10px;
}
.card-container-title {
  font-size: 20px;
  background-color: rgba(105, 178, 230, 0.788);
  padding: 5px;
  font-weight: 600;
}
.card-container-L table,
.card-container-M table,
.card-container-S table {
  width: 100%;
}
.content-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.card-container-L {
  padding: 10px;
}

.card-container-S {
  width: 10vw;
  padding: 10px;
}
.card-container-content {
  font-size: 150%;
  background-color: #7aa250ef;
  font-weight: 300;
}
.card-container-content-L {
  font-size: 150%;
  background-color: rgb(255, 255, 255);
}
.card-container-title-L {
  font-size: 20px;
  background-color: rgba(105, 178, 230, 0.479);
  padding: 5px;
  font-weight: 600;
}
.main-cards-text {
  margin-right: 20px;
  margin-left: 25px;

  display: inline;
}
.main-cards-bot {
  height: 25%;
  text-align: center;
  width: 100%;
  font-size: 50%;
  background-color: rgb(196, 131, 11);
}
.main-cards {
  min-height: 90px;
  margin: 20px;
  background-color: orange;
  color: white;
  font-weight: 400;
  font-size: xx-large;
  display: flex;
  align-items: flex-end;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans",
    "Helvetica Neue", sans-serif;
    padding: 15px;
}
