.input-text-form{
    height: 20px;
    font-size:15px;
    border: 0px;
    background-color: rgba(214, 204, 186, 0.589);
    margin: 2px;
    color:gray;
}

.input-list-form{
    border: none ;
    height: 40px;
  
    font-size: 18px;
    background-color: lightgrey;
    margin: 10px;
}
.input-text-form a, .input-list-form a  {
  color:black;
  text-decoration:none ;
}
.input-text-item{
  color: rgb(114, 114, 114);
}