
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.panel-container {
  margin: 0 auto;
  
  text-align: center;
  margin-top: 20px;

}
.panel-container-title{
  font-size:18px;
  text-shadow: rgb(0, 0, 0) 2px 1px 2px;
}
.content-main-forms-title{

  padding: 10px;
  font-weight: 600;
  color: rgba(102, 102, 102, 0.431);
  font-size: 22px;
  box-shadow: 1px  1px rgba(102, 102, 102, 0.431);
  text-shadow: 1px 1px rgb(128, 128, 128);
  width: 280px;
  background-color:rgb(195, 195, 195);
  
}

.content-col{
  display: flex;
  flex-direction: column;
}
.content-main-forms, .content-main-forms-data{
  margin-top: 20px;
  border: 1px solid rgba(95, 95, 95, 0.623);
  font-family: 'Balsamiq Sans', cursive;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  box-shadow: rgba(54, 54, 54, 0.37) 3px 3px 6px;;
  background-color:rgba(126, 122, 122, 0.534)
  
}
.content-main-forms{
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;

}
.content-main-forms-data{
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
display: flex;
flex-direction: column;
align-items:flex-start;
}
.content-main-forms-search{
 padding : 15px;
 width:100%;
 display: flex;
 flex-direction: row;
 align-items: center; ;
 justify-content: center;
}
.content-main-forms-search input{
  width:80%;
  border-bottom-left-radius: 20px;
  height: 35px;
  border: none;
  margin-right: 15px;
  box-shadow: rgba(179, 179, 179, 0.623) 2px 2px 2px;
  font-size:25px;
  font-weight: lighter;
  padding-left: 20px;
}
.span-icon-search {
background-color: antiquewhite;
padding: 10px;
}


.form-data-name{
  padding: 2px;
  border-bottom: 1px solid rgba(163, 163, 163, 0.623);
  
}
.form-data-id{
  padding: 2px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(95, 95, 95, 0.623);
  
}
.form-data-name-small{
  color: rgb(77, 77, 77);
  font-size: 120%;
}